.frame {
  background-color: #ddc;
  border: solid 5vmin #eee;
  border-bottom-color: #fff;
  border-left-color: #eee;
  border-radius: 2px;
  border-right-color: #eee;
  border-top-color: #ddd;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset,
    0 10px 10px 2px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  min-width: 240px;
  padding: 1vmin;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.frame::before {
  border-radius: 2px;
  bottom: -2vmin;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.25) inset;
  content: "";
  left: -2vmin;
  position: absolute;
  right: -2vmin;
  top: -2vmin;
}

.frame::after {
  border-radius: 2px;
  bottom: -2.5vmin;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  content: "";
  left: -2.5vmin;
  position: absolute;
  right: -2.5vmin;
  top: -2.5vmin;
}

.imageContainer {
  max-width: 100%;
  width: 700px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border: solid 2px;
  border-bottom-color: var(--mat-color);
  border-left-color: var(--mat-color);
  border-right-color: var(--mat-color);
  border-top-color: var(--mat-color);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tall {
  height: 500px;
  aspect-ratio: 3 / 4;
}

.square {
  aspect-ratio: 1 / 1;
}

.wide {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
